/* styles on 404 page */

main#404-page {
  position: relative;
  height: 100vh;
}

.snowflake {
  position: absolute;
  top: 20px;
  transform-origin: center;
}

.snowflake--front {
  font-size: 60px;
  z-index: 1;
  -webkit-animation: freefall 3s linear infinite, rotation 2s linear infinite;
  animation: freefall 3s linear infinite, rotation 2s linear infinite;
}

.snowflake--middle {
  font-size: 40px;
  z-index: 0;
  -webkit-animation: freefall 5s linear infinite, rotation 2s linear infinite;
  animation: freefall 5s linear infinite, rotation 2s linear infinite;
}

.snowflake--back {
  font-size: 20px;
  z-index: -1;
  -webkit-animation: freefall 8s linear infinite, rotation 2s linear infinite;
  animation: freefall 8s linear infinite, rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes freefall {
  from {
    top: -100px;
  }
  to {
    top: calc(100vh - var(--main-footer-height));
  }
}

@-webkit-keyframes freefall {
  from {
    top: -100px;
  }
  to {
    top: calc(100vh - var(--main-footer-height));
  }
}
