/* posts list on archive/category page */

header#category-header {
  padding: 10px;
  background-color: var(--category-heading-background-color);
  color: var(--category-heading-text-color);
}

header#category-header h1 {
  margin: 0;
}