/* Styles on custom Contact Page Template */
@import url(gauge.css);
@import url(counters.css);

.wrapper-contact-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.container-contact-page {
  flex: 1 1 var(--main-width);
  max-width: 75%;
  min-width: var(--main-min-width);
}

header#my-name-is {
  text-align: center;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  background-color: var(--main-background-color);
}

header#my-name-is h1 {
  font-size: 3em;
  color: var(--category-heading-text-color);
}

.contact-section.photo-and-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-column {
  align-self: stretch;
}

.contact-column.contact--photo {
  flex: 0 1 35%;
}

.contact--photo img {
  height: auto;
  width: 100%;
}

.contact-column.contact--links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 60px;
  flex: 0 2 65%;
}

.contact-section.tabs {
  margin-top: 30px;
}

.contact-column.contact--links .links {
  margin-top: 40px;
}

.contact-column.contact--links .links p {
  font-size: 24px;
  line-height: 1.5em;
}

i.far,
i.fab {
  width: 30px;
}

.tab-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.tab-btn {
  text-align: center;
  flex: 0 0 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 40px;
  text-transform: capitalize;
  border: 3px solid var(--main-link-color);
  cursor: pointer;
}

.tab-btn-selected {
  font-weight: bolder;
  border: 5px solid var(--main-link-color);
}

.tab:not(.tab-selected) {
  display: none;
}

.tab.tab-selected {
  display: block;
}

.tab {
  display: none;
  padding: 50px;
}

#tabs--research-projects h4 {
  margin-bottom: 0;
  font-style: italic;
}

#tabs--publications ol li {
  margin-bottom: 10px;
}
