/* Styles on custom Contact Page Template */
@import url(gauge.css);
@import url(counters.css);

:root {
  --btn-width: 170px;
  --btn-height: 40px;
}

.wrapper-contact-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.container-contact-page {
  flex: 1 1 var(--main-width);
  max-width: 75%;
  min-width: var(--main-min-width);
}

header#my-name-is {
  text-align: left;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  background-color: var(--main-background-color);
}

header#my-name-is h1 {
  font-size: 2.5em;
  color: var(--category-heading-text-color);
  margin: 0;
}

section#my-description h3 {
  line-height: 1.5em;
}

header#my-name-is em,
section#my-description h3 em {
  font-style: normal;
}

header#my-name-is strong,
section#my-description h3 strong {
  text-decoration: underline;
}

.contact-section.photo-and-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-column {
  align-self: stretch;
}

.contact-column.contact--photo {
  flex: 0 1 33%;
}

.contact--photo img {
  height: auto;
  width: 100%;
}

.contact-column.contact--links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 2 65%;
}

.contact-section.tabs {
  margin-top: 30px;
}

.contact-column.contact--links .links {
  margin-top: 5px;
}

.contact-column.contact--links .links ul.social-links {
  flex-direction: column;
  margin: 0;
}

.contact-column.contact--links .links li {
  font-size: 24px;
  line-height: 2em;
}

i.far,
i.fab {
  width: 30px;
}

.tab-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.tab-btn {
  position: relative;
  text-align: center;
  flex: 0 0 var(--btn-width);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 40px;
  text-transform: capitalize;
  border: 2px solid var(--main-link-color);
  cursor: pointer;
  overflow: hidden;
}

.tab-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: -1;
  background-color: var(--color_PANTONE_13-4405_tcx);
  transition: 0.2s;
  border-radius: var(--btn-width) var(--btn-width) 0 0;
}

.tab-btn:hover::after {
  width: 150%;
  height: 150%;
}

.tab-btn-selected {
  font-weight: bolder;
  border: 4px solid var(--main-link-color);
  background-color: var(--color_PANTONE_13-4405_tcx);
}

.tab:not(.tab-selected) {
  display: none;
}

.tab.tab-selected {
  display: block;
}

.tab {
  display: none;
  padding: 50px;
}

#tabs--research-projects h4 {
  margin-bottom: 0;
  font-style: italic;
}

#tabs--publications ol li {
  margin-bottom: 10px;
}
