/* Front page styles */

main {
  margin-top: var(--main-navbar-big-height);
  padding-bottom: 110px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, 300px);
  grid-auto-flow: dense;
  padding: 10px;
}

.card {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img {
  width: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  transition: 0.3s;
}

.card-text {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  padding: 5px 20px 20px;
  border-radius: 5px;
  opacity: 0;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  rotate: z 2deg;
  -webkit-transform: rotate(2deg);
  transition: 0.1s;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.card-container {
  height: 100%;
  -webkit-mask-image: -webkit-linear-gradient(
    top,
    #000000 0%,
    #000000 78%,
    #ffffff 95%
  );
  mask-image: linear-gradient(to bottom, black 0%, black 78%, transparent 95%);
}

.card-title {
  height: auto;
}

.card-excerpt {
  overflow: hidden;
  width: 160px;
}

.card-excerpt p {
  height: inherit;
}

.card:hover .card-img {
  top: -7%;
  left: -7%;
  width: 120%;
}

.card:hover .card-text {
  opacity: 1;
  rotate: none;
  -webkit-transform: rotate(0);
  transition: 0.3s;
}

.card.card-bigger-photo {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.card.card-bigger-photo:hover .card-img {
  top: -7%;
  left: -7%;
  width: 115%;
}
