.list-container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

.post-row {
  height: 250px;
  margin: 5px 0;
  overflow: hidden;
}

.post-row a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.post-row a:hover {
  text-decoration: none;
}

.post-row--pic {
  display: block;
  flex: 0 0 250px;
  height: 100%;
}

.post-row--pic img {
  width: 100%;
}

.post-row--text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 30px;
}

.post-row--card-excerpt {
  flex-grow: 2;
}

.post-row--card-excerpt p {
  overflow-y: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 9em;
}

/* animation of thumbnail border */

.anim-border {
  border: 1px solid #000000;
  display: block;
  position: relative;
  z-index: 0;
  transition: 0.5s;
}

.anim-border::before,
.anim-border::after {
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  content: '';
  background-color: var(--main-background-color);
  box-sizing: border-box;
  height: 240px;
  width: 240px;
}

.anim-border::before {
  top: -2px;
  right: -2px;
}

.anim-border::after {
  bottom: -2px;
  left: -2px;
}

.post-row:hover .anim-border::before,
.post-row:hover .anim-border::after {
  width: 0;
  height: 0;
}
