:root {
  --logo-items-big-height: calc(0.8 * var(--main-navbar-big-height));
  --logo-items-height: calc(0.4 * var(--main-navbar-big-height));
  --logo-font-big-size: calc(1.1 * var(--main-navbar-big-h1-size));
  --logo-font-size: calc(0.5 * var(--main-navbar-big-h1-size));
  --bar-big-width: calc(0.2 * var(--logo-items-big-height));
  --bar-width: calc(0.5 * var(--bar-big-width));
  --logo-anim-time: 1s;
  --custom-logo-h1-margin-left: 10px;
  --custom-logo-big-text-left: calc(var(--logo-items-big-height));
  --custom-logo-text-left: calc(var(--logo-items-height));
}

#navbar a {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: var(--logo-items-big-height);
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar a {
  height: var(--logo-items-height);
}

header#navbar a.custom-logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-navbar-text-color);
  transition: 0s;
}

header#navbar.small-navbar a.custom-logo::after {
  left: 0;
  width: 100%;
  height: 1px;
  bottom: 0;
  transition: 0s;
}

#navbar a > * {
  align-self: stretch;
}

header#navbar a.custom-logo h1::before {
  display: none;
}

#navbar .custom-logo__title h1 {
  font-family: 'Gabriola', 'Arial', 'serif';
  font-size: var(--logo-font-big-size);
  font-weight: 500;
  margin-top: 24px;
  margin-left: 10px;
}

header#navbar.small-navbar .custom-logo__title h1 {
  font-size: var(--logo-font-size);
  margin-top: 15px;
  margin-left: 5px;
}

header#navbar.small-navbar .custom-logo__title h1 em {
  font-size: calc(0.7 * var(--logo-font-size));
}

#navbar .custom-logo__title h1 em {
  font-family: 'Century Gothic', 'Arial', 'serif';
  font-size: calc(0.7 * var(--logo-font-big-size));
  font-style: normal;
  transition: var(--main-navbar-transition-time);
}

#navbar .custom-logo__bars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: var(--logo-items-big-height);
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar .custom-logo__bars {
  width: var(--logo-items-height);
}

.custom-logo__bars div.bar {
  flex: 0 0 var(--bar-big-width);
  background-color: var(--main-navbar-text-color);
  animation: logo-bars-up-down var(--logo-anim-time) ease infinite;
  animation-play-state: paused;
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar .custom-logo__bars div.bar {
  flex: 0 0 var(--bar-width);
}

a:hover .custom-logo__bars div.bar {
  animation-play-state: running;
  text-decoration: none;
}

#navbar .custom-logo__bars div.bar:nth-child(1) {
  height: 30%;
  animation-delay: 0.3s;
}

#navbar .custom-logo__bars div.bar:nth-child(2) {
  height: 80%;
  animation-delay: 0.1s;
}

#navbar .custom-logo__bars div.bar:nth-child(3) {
  height: 100%;
  animation-delay: 0.8s;
}

#navbar .custom-logo__bars div.bar:nth-child(4) {
  height: 40%;
  animation-delay: 0.5s;
}

@keyframes logo-bars-up-down {
  from { }

  25% {
    height: 80%;
  }

  75% {
    height: 30%;
  }

  to {}
}
