/* styling of the main top navbar */

header#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 var(--post-sides-margin) 0;
  width: 100%;
  height: var(--main-navbar-big-height);
  color: var(--main-navbar-text-color);
  background-color: var(--main-navbar-background-color);
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar {
  height: var(--main-navbar-height);
}

header#navbar img {
  height: var(--main-navbar-big-height);
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar img {
  height: var(--main-navbar-height);
}

header#navbar h1 {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: var(--main-navbar-big-h1-size);
  transition: var(--main-navbar-transition-time);
}

header#navbar.small-navbar h1 {
  font-size: var(--main-navbar-h1-size);
}

header#navbar h1::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  bottom: -0.2em;
  left: 0;
  background-color: var(--main-navbar-text-color);
  transition: calc(2 * var(--main-navbar-transition-time));
}

header#navbar.small-navbar h1::before {
  width: 100%;
}

header#navbar h1,
header#navbar h2,
header#navbar h3,
header#navbar h4,
header#navbar h5,
header#navbar a {
  color: var(--main-navbar-text-color);
}

header#navbar .menu-top-menu-container {
  padding: 10px 0;
}

ul#menu-top-menu {
  justify-content: right;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

ul#menu-top-menu li {
  margin: 0 1rem;
}

ul#menu-top-menu li a {
  font-size: var(--main-navbar-big-links-size);
  transition: var(--main-navbar-transition-time);
  text-decoration: none;
}

header#navbar.small-navbar ul#menu-top-menu li a {
  font-size: var(--main-navbar-links-size);
}

ul#menu-top-menu li a:hover {
  text-decoration: underline;
}
