/* single post */

:root {
  --sticky-top: calc(var(--main-navbar-height) + var(--post-container-padding));
  --sticky-header-transition: 0.5s;
}

.category-title {
  padding: 0 10px;
}

header.post-header {
  position: relative;
  padding: 50px;
  color: var(--post-header-text-color);
  background-color: var(--post-header-background-color);
}

header.post-header h1.post-title {
  z-index: 1;
}

div.post-header {
  position: sticky;
  position: -webkit-sticky;
  top: var(--sticky-top);
}

div.post-header h1.post-title {
  position: absolute;
  z-index: -1;
  top: 30px;
  margin: 0px;
  background-color: var(--post-header-background-color);
  left: 10%;
  opacity: 0;
  transition: var(--sticky-header-transition);
}

div.post-header.small-fixed-header h1.post-title {
  left: -60%;
  max-width: 45%;
  opacity: 1;
  padding: 5px;
  transition: var(--sticky-header-transition);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.container-single {
  position: relative;
  padding: var(--post-container-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.page-column {
  margin: 0 var(--post-sides-margin) 0;
}

.page-column.image-column {
  flex: 0 0 40%;
  position: sticky;
  position: -webkit-sticky;
  top: var(--sticky-top);
}

.page-column.image-column img {
  width: 100%;
}

/* post content */

.page-column.text-column {
  text-align: justify;
}

.page-column.text-column p {
  line-height: 1.5em;
  margin: 20px 0;
  display: block;
  min-height: 1em;
}

.page-column.text-column h1,
.page-column.text-column h2,
.page-column.text-column h3,
.page-column.text-column h4,
.page-column.text-column h5,
.page-column.text-column h6 {
  color: var(--post-heading-text-color);
  background-color: var(--post-heading-background-color);
}

.page-column.text-column.dc-first-only > p:first-of-type:first-letter,
.page-column.text-column.dc-every-paragraph > p::first-letter {
  float: left;
  height: 4em;
  font-size: 4em;
  margin-right: 3px;
  margin-top: 10px;
}

.page-column.text-column ul,
.page-column.text-column ol {
  margin-left: 50px;
}

.page-column.text-column p.float-to-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.page-column.text-column blockquote {
  position: relative;
  padding-left: 30px;
  border: 2px solid var(--post-heading-text-color);
  border-radius: 15px;
  margin: 1em 1em 2em;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

.page-column.text-column blockquote::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 10px;
  bottom: -5px;
  left: 20%;
  background-color: var(--main-background-color);
}

.page-column.text-column blockquote::after {
  content: '';
  position: absolute;
  width: 5%;
  height: 1em;
  bottom: calc(-1em - 2px);
  left: 20%;
  border-top: 2px solid var(--post-heading-text-color);
  border-right: 2px solid var(--post-heading-text-color);
  border-radius: 0 25px 0 0;
}

.page-column.text-column blockquote p:first-of-type::before {
  content: '“';
  color: var(--color_PANTONE_13-4405_tcx);
}

.page-column.text-column blockquote p:last-of-type::after {
  content: '”';
  color: var(--color_PANTONE_13-4405_tcx);
}

.page-column.text-column blockquote cite {
  position: absolute;
  bottom: -1.7em;
  left: 35%;
  font-size: 0.6em;
}

.page-column.text-column blockquote cite::before {
  content: '—';
  margin-right: 5px;
}