/* single post */

:root {
  --sticky-top: calc(var(--main-navbar-height) + var(--main-container-padding));
  --sticky-header-transition: 0.5s;
}

.category-title {
  padding: 0 10px;
}

.post-title {
  padding: 50px;
}

header.post-header {
  position: relative;
}

header.post-header h1.post-title {
  z-index: 1;
}

div.post-header {
  position: sticky;
  position: -webkit-sticky;
  top: var(--sticky-top);
}

div.post-header h1.post-title {
  position: absolute;
  z-index: -1;
  top: 30px;
  margin: 0px;
  background-color: var(--main-header-background);
  left: 10%;
  opacity: 0;
  transition: var(--sticky-header-transition);
}

div.post-header.small-fixed-header h1.post-title {
  left: -60%;
  max-width: 45%;
  opacity: 1;
  padding: 5px;
  transition: var(--sticky-header-transition);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.container-single {
  position: relative;
  padding: var(--main-container-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.page-column {
  margin: 0 var(--main-sides-margin) 0;
}

.page-column.image-column {
  flex: 0 0 40%;
  position: sticky;
  position: -webkit-sticky;
  top: var(--sticky-top);
}

.page-column.image-column img {
  width: 100%;
}

/* post content */

.page-column.text-column {
  text-align: justify;
}

.page-column.text-column p {
  line-height: 1.5em;
  margin: 20px 0;
  display: block;
  min-height: 1em;
}

.page-column.text-column.dc-first-only p:first-of-type:first-letter,
.page-column.text-column.dc-every-paragraph p::first-letter {
  float: left;
  height: 4em;
  font-size: 4em;
  margin-right: 3px;
  margin-top: 10px;
}

.page-column.text-column ul {
  margin-left: 50px;
}
