@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  --main-background: aliceblue;
  --main-text-color: #333333;
  --main-header-background: whitesmoke;
  --main-footer-background: darkgrey;
  --heading-text-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--main-background);
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-color: var(--main-header-background);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-text-color);
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  margin: 1em 0;
}

/* top menu */

header#navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 10px;
}

header#navbar h1 {
  display: inline-block;
  margin: 0;
}

.menu-top-menu-container {
  float: right;
  padding: 10px 0;
}

ul#menu-top-menu {
  justify-content: right;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

ul#menu-top-menu li {
  margin: 0 1rem;
}

ul#menu-top-menu li a {
  text-transform: uppercase;
  color: var(--main-text-color);
  text-decoration: none;
}

ul#menu-top-menu li a:hover {
  text-decoration: underline;
}

/* footer */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: var(--main-footer-background);
  padding: 30px;
}

/* main */

main {
  margin-top: 65px;
  padding-bottom: 110px;
}

header#category-header {
  padding: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, 300px);
  grid-auto-flow: dense;
  padding: 10px;
}

.category-title {
  padding: 0 10px;
}

.card {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img {
  width: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  transition: 0.3s;
}

.card-text {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  padding: 5px 20px 20px;
  border-radius: 5px;
  opacity: 0;
  transform-origin: top left;
  rotate: z 2deg;
  transition: 0.1s;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.card-container {
  height: 100%;
  -webkit-mask-image: -webkit-linear-gradient(
    top,
    #000000 0%,
    #000000 78%,
    #ffffff 95%
  );
  mask-image: linear-gradient(to bottom, black 0%, black 78%, transparent 95%);
}

.card-title {
  height: auto;
}

.card-excerpt {
  overflow: hidden;
  width: 160px;
}

.card-excerpt p {
  height: inherit;
}

.card:hover .card-img {
  top: -7%;
  left: -7%;
  width: 120%;
}

.card:hover .card-text {
  opacity: 1;
  transform-origin: top left;
  rotate: none;
  transition: 0.3s;
}

.card.card-bigger-photo {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.card.card-bigger-photo:hover .card-img {
  top: -7%;
  left: -7%;
  width: 115%;
}

/* single post */

.container-single {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.page-column {
  max-width: 50%;
  margin: 0 10px 0;
}

.page-column.image-column img {
  width: 100%;
}

.page-column.text-column p {
  line-height: 1.5em;
  margin: 20px 0;
}

.page-column.text-column p::first-letter {
  float: left;
  font-size: 4em;
  margin-right: 3px;
}

/* posts list on archive/category page */

.archives__container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

.post-row {
  height: 250px;
  margin: 5px 0;
  overflow: hidden;
}

.post-row a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.post-row a:hover {
  text-decoration: none;
}

.post-row--pic {
  display: block;
  flex: 0 0 250px;
  height: 100%;
}

.post-row--pic img {
  width: 100%;
}

.post-row--text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 30px;
}

.post-row--card-excerpt {
  flex-grow: 2;
}

.post-row--card-excerpt p {
  overflow-y: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 9em;
}

/* animation of thumbnail border */

.anim-border {
  border: 1px solid #000000;
  display: block;
  position: relative;
  z-index: 0;
  transition: 0.5s;
}

.anim-border::before,
.anim-border::after {
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  content: "";
  background-color: var(--main-background);
  box-sizing: border-box;
  height: 240px;
  width: 240px;
}

.anim-border::before {
  top: -2px;
  right: -2px;
}

.anim-border::after {
  bottom: -2px;
  left: -2px;
}

.post-row:hover .anim-border::before,
.post-row:hover .anim-border::after {
  width: 0;
  height: 0;
}

/* animated underline of a post title */
.post-row--card-title h2 {
  display: inline-block;
  position: relative;
}

.post-row--card-title h2::before {
  content: "";
  background-color: var(--heading-text-color);
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: -0.5em;
  left: 0;
  transition: 0.5s;
}

.post-row:hover .post-row--card-title h2::before {
  width: 100%;
  transition: 0.5s;
  right: 0;
}
